In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
master  = pd.read_csv("day.csv")
master.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

### Missing Value Treatment:

In [12]:
print("Total Rows:",master.shape[0],"\n")
print(master.info())

Total Rows: 730

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      730 non-null    object
 1   season      730 non-null    int64
 2   yr          730 non-null    int64
 3   mnth        730 non-null    int64
 4   holiday     730 non-null    int64
 5   weekday     730 non-null    int64
 6   workingday  730 non-null    int64
 7   weathersit  730 non-null    int64
 8   temp        730 non-null    float64
 9   atemp       730 non-null    float64
 10  hum         730 non-null    float64
 11  windspeed   730 non-null    float64
 12  casual      730 non-null    int64
 13  registered  730 non-null    int64
 14  cnt         730 non-null    int64
dtypes: float64(4), int64(10), object(1)
memory usage: 85.7+ KB
None

**Conclusion** : <br>
There are no missing values to be dealth with.

#### Data Processing

In [4]:
master.drop(["instant"], axis=1, inplace=True);